.flex-grow {
  flex-grow: 1;
}
@media (min-width: 769px) {
  .home_image img{
    max-width: 100%; 
    height: auto;
    position: relative;
  }
  .home_caption {
    position: absolute;
    top: 20%;
    left: 30%;
  }
  .mobile_image {
    display: none;
  }
}
@media (max-width: 768px) {
  .home_image img{
    max-width: 100%; 
    height: auto;
    position: relative;
  }
  .home_caption {
    position: absolute;
    top: 10%;
    left: 3%;
    color: white;
  }
  .pc_image {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile_ranking-ribbon {
    display: none;
  }
  .ranking-ribbon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    height: 45px;
    width: 100%;
    max-width: 600px;
  }
  .ranking-ribbon h2 {
    // display: inline-block;
    // font-weight: 700;
    // font-size: 1.25rem;
    // line-height: 1.75rem;
    // --tw-text-opacity: 1;
    // color: rgba(255, 255, 255, var(--tw-text-opacity));
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // position: relative;
    // width: calc(100% - 70px);
    // margin: 0;
    // padding: 0 20px;
    // line-height: 45px;
    // background: #ee4257;
    // border-radius: 0.5rem;
    position: relative;
    color: #6eb0f9;
    line-height: 1.4;
    -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0)10%,rgba(0,0,0,0.6));
  }
}
@media (max-width: 768px) {
  .ranking-ribbon {
    display: none;
  }
  .mobile_ranking-ribbon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    height: 45px;
    width: 100%;
    max-width: 600px;
  }
  .mobile_ranking-ribbon h3 {
    // display: inline-block;
    // font-weight: 700;
    // font-size: 1.25rem;
    // line-height: 1.75rem;
    // --tw-text-opacity: 1;
    // color: rgba(255, 255, 255, var(--tw-text-opacity));
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // position: relative;
    // width: calc(100% - 70px);
    // margin: 0;
    // padding: 0 20px;
    // line-height: 45px;
    // background: #ee4257;
    // border-radius: 0.5rem;
    position: relative;
    color: #6eb0f9;
    line-height: 1.4;
    -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0)10%,rgba(0,0,0,0.6));
  }
}

.fit-box {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  position: relative;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.p-4 {
  padding: 1rem;
}
.ranking-num {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  position: absolute;
  left: 0px;
  top: -1rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  z-index: 10;
  width: 50px;
  background: #ee4257;
}
.ranking-num:after {
  position: absolute;
  left: 0px;
  top: 100%;
  content: '';
  border-left: 25px solid #ee4257;
  border-right: 25px solid #ee4257;
  border-bottom: 20px solid transparent;
}
.ranking-first {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  position: absolute;
  left: 0px;
  top: -1rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  z-index: 10;
  width: 50px;
  background: #fb0;
}
.ranking-first:after {
  position: absolute;
  left: 0px;
  top: 100%;
  content: '';
  border-left: 25px solid #fb0;
  border-right: 25px solid #fb0;
  border-bottom: 20px solid transparent;
}
.ranking-second {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  position: absolute;
  left: 0px;
  top: -1rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  z-index: 10;
  width: 50px;
  background: #ccc;
}
.ranking-second:after {
  position: absolute;
  left: 0px;
  top: 100%;
  content: '';
  border-left: 25px solid #ccc;
  border-right: 25px solid #ccc;
  border-bottom: 20px solid transparent;
}
.ranking-third {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  position: absolute;
  left: 0px;
  top: -1rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  z-index: 10;
  width: 50px;
  background: #d98;
}
.ranking-third:after {
  position: absolute;
  left: 0px;
  top: 100%;
  content: '';
  border-left: 25px solid #d98;
  border-right: 25px solid #d98;
  border-bottom: 20px solid transparent;
}

.relative {
  position: relative;
}
.pl-16 {
  padding-left: 4rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-bold {
  font-weight: 700;
}
.w-60 {
  width: 15rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.itemCaption {
  line-height: 30px;
  position: relative;
  &.-long {
    padding-bottom: 30px;
    button {
      height: 50px;
      align-items: flex-end;
      color: rgb(67, 195, 238);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    }
  }

  &.is-hide {
    overflow: hidden;
    height: 300px;

    button {
      height: 50px;
      align-items: flex-end;
      color: rgb(67, 195, 238);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    }
  }
  button {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: none;

  }
}
.item_field {
  display: flex;
}
@media (min-width: 769px) {
  .mobile_review {
    display: none;
  }
  .item_image img {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .item_field {
    display: block!important;
  }
  .mobile_scene {
    display: flex;
  }
  .pc_review {
    display: none;
  }
}
